@model MOBILE_BASED.ViewModels.EmergencyRequestVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmergencyRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmergencyRequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
